<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Eustema-Project-Final</display-name>
  
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.project.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.project.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginjsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrazioneServlet</display-name>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <servlet-class>com.project.servlet.RegistrazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <url-pattern>/registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.project.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfiloServlet</display-name>
    <servlet-name>ProfiloServlet</servlet-name>
    <servlet-class>com.project.servlet.ProfiloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfiloServlet</servlet-name>
    <url-pattern>/profilo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneUtente</display-name>
    <servlet-name>GestioneUtente</servlet-name>
    <servlet-class>com.project.servlet.GestioneUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneUtente</servlet-name>
    <url-pattern>/GestioneUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.project.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>com.project.servlet.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/adminSetDati</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckTipologiaAdmin</display-name>
    <servlet-name>CheckTipologiaAdmin</servlet-name>
    <servlet-class>com.project.servlet.CheckTipologiaAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckTipologiaAdmin</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrenotazioneUserClassico</display-name>
    <servlet-name>PrenotazioneUserClassico</servlet-name>
    <servlet-class>com.project.servlet.PrenotazioneUserClassico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrenotazioneUserClassico</servlet-name>
    <url-pattern>/datiPrenotazione</url-pattern>
    <url-pattern>/PrenotazioneUserClassico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImmagineServlet</display-name>
    <servlet-name>ImmagineServlet</servlet-name>
    <servlet-class>com.project.servlet.ImmagineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImmagineServlet</servlet-name>
    <url-pattern>/PrenotazioneImmagine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendPrenotazioneUserClassico</display-name>
    <servlet-name>SendPrenotazioneUserClassico</servlet-name>
    <servlet-class>com.project.servlet.SendPrenotazioneUserClassico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPrenotazioneUserClassico</servlet-name>
    <url-pattern>/sendPrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>com.project.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneCampo</display-name>
    <servlet-name>GestioneCampo</servlet-name>
    <servlet-class>com.project.servlet.GestioneCampo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneCampo</servlet-name>
    <url-pattern>/GestioneCampo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCampoAdmin</display-name>
    <servlet-name>AddCampoAdmin</servlet-name>
    <servlet-class>com.project.servlet.AddCampoAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCampoAdmin</servlet-name>
    <url-pattern>/insertCampoAdmin</url-pattern>
    <url-pattern>/insertTipCampoAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaCampoAdmin</display-name>
    <servlet-name>ModificaCampoAdmin</servlet-name>
    <servlet-class>com.project.servlet.ModificaCampoAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaCampoAdmin</servlet-name>
    <url-pattern>/checkCampo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCampoAdmin</display-name>
    <servlet-name>RemoveCampoAdmin</servlet-name>
    <servlet-class>com.project.servlet.RemoveCampoAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCampoAdmin</servlet-name>
    <url-pattern>/removeCampo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaUserPrenotazione</display-name>
    <servlet-name>ModificaUserPrenotazione</servlet-name>
    <servlet-class>com.project.servlet.ModificaUserPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaUserPrenotazione</servlet-name>
    <url-pattern>/ModificaUserPrenotazione</url-pattern>
    <url-pattern>/changePrenotazione</url-pattern>
    <url-pattern>/sendNewPrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneTorneo</display-name>
    <servlet-name>GestioneTorneo</servlet-name>
    <servlet-class>com.project.servlet.GestioneTorneo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneTorneo</servlet-name>
    <url-pattern>/GestioneTorneo</url-pattern>
    <url-pattern>/datiTorneo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendGestioneTorneo</display-name>
    <servlet-name>SendGestioneTorneo</servlet-name>
    <servlet-class>com.project.servlet.SendGestioneTorneo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendGestioneTorneo</servlet-name>
    <url-pattern>/sendTorneo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TorneoVip</display-name>
    <servlet-name>TorneoVip</servlet-name>
    <servlet-class>com.project.servlet.TorneoVip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TorneoVip</servlet-name>
    <url-pattern>/TorneoVip</url-pattern>
    <url-pattern>/sendTorneoVip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrenotazioneVipServlet</display-name>
    <servlet-name>PrenotazioneVipServlet</servlet-name>
    <servlet-class>com.project.servlet.PrenotazioneVipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrenotazioneVipServlet</servlet-name>
    <url-pattern>/datiPrenotazioneVip</url-pattern>
    <url-pattern>/PrenotazioneVipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendPrenotazioneAltriUtentiServlet</display-name>
    <servlet-name>SendPrenotazioneAltriUtentiServlet</servlet-name>
    <servlet-class>com.project.servlet.SendPrenotazioneAltriUtentiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPrenotazioneAltriUtentiServlet</servlet-name>
    <url-pattern>/sendPrenotazioneAltriUtenti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendModificaUserPrenotazione</display-name>
    <servlet-name>SendModificaUserPrenotazione</servlet-name>
    <servlet-class>com.project.servlet.SendModificaUserPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendModificaUserPrenotazione</servlet-name>
    <url-pattern>/CambioPrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserPrenotazione</display-name>
    <servlet-name>DeleteUserPrenotazione</servlet-name>
    <servlet-class>com.project.servlet.DeleteUserPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserPrenotazione</servlet-name>
    <url-pattern>/deletePrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TorneoAssAdmin</display-name>
    <servlet-name>TorneoAssAdmin</servlet-name>
    <servlet-class>com.project.servlet.TorneoAssAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TorneoAssAdmin</servlet-name>
    <url-pattern>/TorneoAssAdmin</url-pattern>
    <url-pattern>/datiTorneoAssAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendTorneoAss</display-name>
    <servlet-name>SendTorneoAss</servlet-name>
    <servlet-class>com.project.servlet.SendTorneoAss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendTorneoAss</servlet-name>
    <url-pattern>/SendTorneoAss</url-pattern>
    <url-pattern>/prenotaTorneoAss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrenotazioneAssAdminServlet</display-name>
    <servlet-name>PrenotazioneAssAdminServlet</servlet-name>
    <servlet-class>com.project.servlet.PrenotazioneAssAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrenotazioneAssAdminServlet</servlet-name>
    <url-pattern>/datiPrenotazioneAssAdmin</url-pattern>
    <url-pattern>/PrenotazioneAssAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneMatch</display-name>
    <servlet-name>GestioneMatch</servlet-name>
    <servlet-class>com.project.servlet.GestioneMatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneMatch</servlet-name>
    <url-pattern>/GestioneMatch</url-pattern>
    <url-pattern>/viewMatchOfTorneo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaTorneoAdmin</display-name>
    <servlet-name>ModificaTorneoAdmin</servlet-name>
    <servlet-class>com.project.servlet.ModificaTorneoAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaTorneoAdmin</servlet-name>
    <url-pattern>/ModificaTorneoAdmin</url-pattern>
    <url-pattern>/modificheTorneo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMatchAdmin</display-name>
    <servlet-name>AddMatchAdmin</servlet-name>
    <servlet-class>com.project.servlet.AddMatchAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMatchAdmin</servlet-name>
    <url-pattern>/AddMatchAdmin</url-pattern>
    <url-pattern>/insertMatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoricoUser</display-name>
    <servlet-name>StoricoUser</servlet-name>
    <servlet-class>com.project.servlet.StoricoUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoricoUser</servlet-name>
    <url-pattern>/StoricoUser</url-pattern>
    <url-pattern>/viewStorico</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>StoricoUserMatch</display-name>
    <servlet-name>StoricoUserMatch</servlet-name>
    <servlet-class>com.project.servlet.StoricoUserMatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoricoUserMatch</servlet-name>
    <url-pattern>/StoricoUserMatch</url-pattern>
     <url-pattern>/viewMatchForUser</url-pattern>
  </servlet-mapping>
</web-app>